@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$main-color: rgb(28, 28, 28);
$accent-color: orange;
$navbar-width: 250px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: $navbar-width;
  height: 100%;
  border-right: solid;

  background-color: $main-color;

  display: grid;
  grid-template-rows: 1fr 7fr;

  header {
    padding: 5px;
    font-size: 2em;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;

    .nav-link {
      color: white;
      opacity: 0.7;

      position: relative;
      display: block;
      padding: 10px 30px;

      text-align: center;
      letter-spacing: 1px;

      transition: all 0.2s linear;

      font-family: "Roboto", sans-serif;
      font-size: 1.3em;
      font-weight: 100;     

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}

#main-doc {
  position: absolute;
  top: 0;
  left: $navbar-width;
  overflow-y: auto;
  padding: 0 4em;

  header {
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    text-decoration: underline solid black 2px;
    margin-bottom: 0.5em;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
  }
  
  section {
    margin: 3em 0;
  }
}

.dashed {
  margin: 0.5em;
  list-style: none;
  text-indent: 5px;

  li::before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
    color: $accent-color;
  }
}