@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#welcome-section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 3em;

        #name {
            background: -webkit-linear-gradient(bottom left, red, orange);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: lighten($color: red, $amount: 15);
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
    font-family: Poppins;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
            transition: all 0.2s linear;

            &:hover {
                transform: scale(1.1);
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

#contact-me {
    margin-top: 7em;
    height: 50vh;
    background-color: lighten($color: red, $amount: 15);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: "Poppins", sans-serif;
        color: white;
    }
}

#links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    a {
        color: white;
        font-size: 1.3em;
        font-family: monospace;
    }
}

@media screen and (max-width: 600px) {
    #links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

#projects {
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 2em;
        text-align: center;
        color: red;
    }
}

#tiles {
    margin-top: 2em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}