@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

$accent-color: #fe67c4;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

#header {
  background-color: white;
  z-index: 100;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5em 5em;

  #header-img {
    height: 2.5em;
    display: block;
  }

  #nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;

    .nav-link {
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      color: black;

      &:hover {
        text-decoration: underline;
        text-decoration-color: $accent-color;
        text-decoration-thickness: 0.3em;
      }
    }
  }
}

.button {
  text-decoration: none;
  padding: 0.5em 2em;
  border: 3px solid $accent-color;
  font-family: monospace;
  color: black;
  font-size: 1.5em;

  &:hover {
    background-color: $accent-color;
    color: white;
  }
}

.button-new {
  text-decoration: none;
  padding: 0.5em 2em;
  border: 3px solid $accent-color;
  font-family: monospace;
  color: white;
  font-size: 1em;
  background-color: $accent-color;
  width: 10em;
}

// tablet
@media (max-width: 961px) {
  #home {
    position: relative;

    #content {
      text-align: justify;
    }

    .button {
      margin: auto;
    }

    img {
      position: absolute;
      display: block;
      margin: auto;

      z-index: -1;
      filter: blur(60px);
    }

    h1 {
      color: black;
    }
  }

  .plans {
    flex-direction: column;
  }
}

// mobile
@media (max-width: 641px) {
  #header {
    #nav-bar {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0.01em;
    }
  }
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: center;

  #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    text-align: left;
    gap: 3em;
  }

  h1 {
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

    em {
      font-style: normal;
      color: $accent-color;
    }
  }
}

.container {
  min-height: 90vh;
}

#features {
  background-color: #fe67c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2em;
  gap: 2em;

  h1 {
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;

    padding-top: 0.5em;
    text-align: center;
  }

  video {
    display: block;
    width: 60%;
    margin: auto;
  }
}

#pricing {
  padding: 2em;

  h1 {
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

    padding-top: 0.5em;
    text-align: center;
  }

  .plans {
    margin: 3em auto;

    display: flex;
    justify-content: center;
    align-items: center;

    .plan-container {
      padding: 3em;
      border: 1px solid black;

      width: 25em;

      text-align: center;

      h2 {
        font-size: 2em;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }

      h3 {
        font-size: 1em;
        font-family: monospace;
        font-weight: 400;
      }

      ul {
        margin-top: 2.5em;
        list-style-type: none;
        font-family: sans-serif;

        li {
          margin: 1em auto;
        }
      }

      .button-new {
        margin: auto;
        margin-top: 2em;
        display: block;
      }
    }
  }
}

#subscribe {
  background-color: #fe67c4;

  h1 {
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;

    padding-top: 0.5em;
    text-align: center;
  }

  form {
    margin: 2em auto;

    input[type="email"] {
      height: 3em;
      width: 25em;
    }
  }
}
