$accent-color: greenyellow;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;

}

#header {
  background-color: white;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5em 5em;

  #header-img {
    height: 2em;
    display: block;
  }

  #nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

    a {
      text-decoration: none;
      font-family: sans-serif;
      color: black;

      &:hover {
        text-decoration: underline;
        text-decoration-color: $accent-color;
        text-decoration-thickness: 0.3em;
      }
    }
  }
}

#home {
  img {
    display: block;
    width: 100%;
    height: 100%;
  }


}

.container {
  height: 90vh;
}